<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>FoodVilla</title>
    <link rel="icon" type="image/x-icon" href="./img/b.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" href="" th:href="@{/css/Locate_us.css}" />
    <style>
        .icons {
            align-items: center;
        }
    </style>
</head>

<body>
    <nav th:replace="~{Navigation::navbar()}"></nav>
    <center>
        <h1 style="color: orangered; ">Our Location</h1>
        <small style="color: red;font-weight: bold;">Internet required..</small>
    </center>
    <div class="location">
        <section class="location">
            <iframe
                src="https://maps.google.com/maps?q=Charminar,+Hyderabad&t=&z=15&ie=UTF8&iwloc=&output=embed"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        </section>

        <section class="contact-us">
            <div class="row">
                <div class="contact-col">
                    <div>
                        <i class="contact-icon fas fa-home"></i>
                        <span>
                            <h5>GET CONNECT WITH ME U, CAN ADD YOUR BUSSINES LOCATION HERE </h5>
                            <p>India</p>
                        </span>
                    </div>

                    <div>
                        <i class="contact-icon fas fa-phone"></i>
                        <span>
                            <h5>+91000000000</h5>
                            <p>Monday to Saturday, 10AM to 8PM</p>
                        </span>
                    </div>

                    <div>
                        <i class="contact-icon fas fa-envelope"></i>
                        <span>
                            <h5>vadealok55@gmail.com</h5>
                            <p>Email us Your Requirement Website Modification it will be landed On Your Name</p>
                        </span>
                    </div>
                </div>
                <div class="contact-col">
                    <form action="" method="post" enctype="text/plain">
                        <input type="text" name="name" placeholder="Enter your name" required>
                        <input type="email" name="email" placeholder="Enter email address" required>
                        <input type="text" name="subject" placeholder="Enter subject" required>
                        <textarea rows="8" name="message" placeholder="Message" required></textarea>
                        <button type="submit" class="visit-btn red-btn">Send</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="footer">
            <h4 style="text-align: center;">About Us</h4>
            <p style="text-align: center;">
                ”Explore our wide range of products designed to enhance your life."
            </p>
            <p style="text-align: center;">© Copyright 2019 FoodVilla</pstyle="text-align: center;">
    </div>
    </section>
</body>

</html>